In [86]:
print("Hello, pandas!")

Hello, pandas!

In [87]:
# Path: 02_dataframe.ipynb
import pandas as pd
import numpy as np
# データフレームを使って適当なデータを作って、pandasを使ってみる
df = pd.DataFrame(np.random.rand(6,4))
df

          0         1         2         3
0  0.130130  0.336186  0.523300  0.248150
1  0.331075  0.379827  0.297926  0.802582
2  0.715639  0.319641  0.654764  0.590478
3  0.872943  0.469604  0.206328  0.859363
4  0.492036  0.877590  0.283505  0.370644
5  0.528408  0.166128  0.240879  0.085397